{{ define "main" }}
<!-- single template -->
<main class="main-content">

    <article class="t-general">
        <h1>{{ .Title }}</h1>
        {{ .Content }}
        {{/* <strong>Resources:</strong> {{ .Resources }}<br> */}}

        {{ $resources := .Resources }}
        <section class="sponsors">
            {{ range .Pages }}

            <article class="sponsor">
                {{ $img := readFile (path.Join "static" .Params.logo) | safeHTML }}
                <a href="{{ .Params.link }}" class="sponsor-link" rel="noopener" target="_black">
                    {{ $img }}
                </a>
            </article>
            </a>
            {{ end }}
        </section>
    </article>
</main>
<!-- single template -->
{{ end }}