.footer{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    margin-bottom: 20vh;
}
.footer-block{

}
.footer-stage{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column: 2 / span 10;
    @media screen and (max-width: 640px) {
        grid-column: 1 / span 12;
    }
}