.header-title {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    max-height: 5rem;
    padding: 1rem 2rem;

    white-space: nowrap;

    border: 1px #fff solid;
    border-bottom: 0;
    background-color: inherit;
    background-color: transparent;
    background-color: rgba(#f0f0f0, .8);
    box-shadow: rgba(0, 0, 0, .25) 0 14px 28px, rgba(0, 0, 0, .22) 0 10px 10px;

    align-items: center;
    filter: background-blur(10px);

    svg {
        box-shadow: rgba(0, 0, 0, .125) 0 32px 64px;
        shape-rendering: geometricPrecision;
    }

    .site-logo {
        height: 4rem;
    }

    @media screen and (max-width: 1024px) {
        padding: 0.5rem 1rem;
        background-color: rgba(#f0f0f0, 1);
        .site-logo {
            height: 2rem;
        }
    }

}

.home-link {
    text-decoration: none;
    text-transform: uppercase;

    color: black;
    display: block;
    &:visited {
        color: inherit;
    }
}

.site-title {
    font-size: 2.75rem;
    font-weight: 900;
    line-height: 2rem;

    display: inline-block;

    margin-left: 1rem;

    @media screen and (max-width: 640px) {
        font-size: 2rem;
        line-height: 2.75rem;

        margin-top: -2em;
    }
}

;