@use '../sass/00-base/design-token.vars' as dt;

.imprint{
    grid-column: auto / -1;
    font-weight: 900;
    @media screen and (max-width: 640px) {
        grid-row: 2 / span 1;
        grid-column: 1 / span 1;
        margin: 1.5rem;
    }
}
.address{
    margin-top: 0.25em;
    p{
        margin-block: 0;
        font-weight: 300;
        font-style: normal;
        border-left: 2px dt.$c-p2-50 solid;
        margin-left: 0.35em;
        padding-left: 0.5em;
    }
}