@use '00-base/design-token.vars' as dt;
@use '../01-atoms/typography' as typo;


.introcard{
}

.introcard-header{
	display: flex;
	flex-direction: row;
	color: currentColor;

	margin-bottom: 1em;

	gap: .5em;
}
.introcard-title,
.introcard-no{
	font-size: clamp(1rem, 2.5vw, 3rem);
	line-height: .85;

	margin: 0;

	text-transform: uppercase;
	color: currentColor;
}
.introcard-logo{
	display: flex;
	justify-content: center;

	height: 10vw;

	text-align: center;

	border-block: 1px var(--c-p2-50) solid;

	align-items: center;
    padding-block: 6% 7%;

    & > svg{
		width: auto;
		height: 100%;
		max-height: 10vw;
		fill: currentColor;
		@media screen and (max-width: 640px) {
			max-height: 80%;
		}
	}

	@media screen and (max-width: 640px) {
		height: 40vw;
	}
}

.introcard-desc{
	font-size: typo.$p;
	color: currentColor;
}

.introcard-link{
	grid-column: auto / span 3;
	color: black;
	overflow: hidden;
	border-radius: 1vw;
	box-sizing: border-box;
	padding: 1rem;
	border: 1px var(--c-p2-50) solid;
	transition: all 0.125s ease-in-out;
	&:visited{
		color: black;
	}
	&:hover{
		background-color: dt.$c-p2-50;
		color: white;
		transition: all 0.125s ease-in-out;
		.introcard-logo{
			border-color: currentColor;
			.j{
				fill: dt.$c-p2-50;
			}
		}
	}

}