.sponsors {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: max(2rem, 2vw);
    padding: clamp(16px, 2vw, 24px);
    grid-auto-rows: 1fr;
    @media screen and (max-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
    }
}

.sponsor-link {
    display: flex;
}

.sponsor {
    display: flex;
    flex-direction: row;
    justify-content: center;
    grid-column: auto / span 1;
    border-radius: 1.5em;
    padding: 0.5rem;
    // box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 8px;
    transition: all 0.125s ease-in-out;

    &:hover {

        box-shadow: rgba(0, 0, 0, 0.35) 0px 6px 16px;
    }

    &:active {
        box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 0px;
    }

    svg {
        width: 100%;

    }
}