.sponsors{
	display: grid;

	margin-top: 5rem;
	padding: clamp(16px, 2vw, 24px);

	gap: max(1rem, 2vw);
	grid-auto-rows: 1fr;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: auto auto;

	@media screen and (max-width: 768px){
		grid-template-columns: repeat(2, 1fr);
	}
}

.ql-sponsors{
	@extend .sponsors;

	grid-template-columns: repeat(6, 1fr);

	.landing &{
		grid-template-columns: repeat(4, 1fr);
		padding: 0;
		@media screen and (max-width: 768px){
			grid-template-columns: repeat(1, 1fr);
		}	
	}

	margin-top: 2vw;
	@media screen and (max-width: 1440px){
		grid-template-columns: repeat(3, 1fr);
	}
	@media screen and (max-width: 768px){
        grid-template-columns: repeat(1, 1fr);
    }
	.sponsor{
		svg{
			max-height: 4rem;
		}
	}
}

.sponsor-header{
	grid-column: 1 / -1;
	h3{
		margin: 0;
	}
}

.sponsor-link{
	display: flex;
}

.sponsor{
	display: flex;
	flex-direction: row;
	justify-content: center;

	padding: .5rem;
	padding: 1.5rem;

	transition: all .125s ease-in-out;
	box-sizing: border-box;

	border-radius: 1.5em;
	// box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
	box-shadow: rgba(0, 0, 0, .35) 0 3px 8px;

	grid-column: auto / span 1;

	&:hover{
		box-shadow: rgba(0, 0, 0, .35) 0 6px 16px;
	}

	&:active{
		box-shadow: rgba(0, 0, 0, .35) 0 0 0;
	}

	svg{
		width: 100%;
	}
}