%baseMenu {
	display: flex;
	flex-direction: column;

	margin: 0;
	padding: 0;
}

.header-nav {
	@extend %baseMenu;

	justify-content: flex-start;
	grid-column: 1 / span 1;

	padding-inline: clamp(1rem, 2vw, 2rem);
	// border-right: 1px lime solid;
	transition: all 0.5s ease-out;
	// background: linear-gradient(135deg, #024b5e 0%, #027686 75%, #0294a4 100%);
}

.menu-main {
	@extend %baseMenu;

	justify-content: flex-end;

	list-style: none;

	gap: 0.5rem;

	@media screen and (max-width: 640px) {
		display: none;
	}

	&[aria-expanded="true"] {
		position: fixed;
		top: 100px;
		right: 0;
		left: 0;

		display: flex;
		flex-direction: column;
		justify-content: center;

		height: calc(100vh - 100px);
		background-color: rgba(#fff, 0.95);
		backdrop-filter: blur(5px);

		.menu-item {
			text-align: center;
			font-size: clamp(2rem, 5vw, 5rem);
		}

		.menu-link {
			font-weight: 900;
		}
	}
}

.menu-item {
	&.active {
		a {
			color: white;
			background-color: purple;
		}
	}
}

.menu-link {
	font-size: 1.2em;
	font-weight: 600;

	display: block;

	transition: color .15s ease-in, background-color .25s ease-in;
	text-decoration: none;
	text-transform: uppercase;

	outline-offset: .25em;

	&:active {}

	&:hover {
		transition: color .15s ease-out, background-color .25s ease-out;

		color: black;
	}

	&:visited {}

	&:focus {}
}

.menu-toggle {
	@extend .menu-link;

	display: flex;

	border: none;
	background: none;

	&>* {
		pointer-events: none;
	}

	&.is-active {
		transform: rotateX(180deg);
	}

	@media screen and (min-width: 640px) {
		display: none;
	}
}

.menu-sub {
	list-style-type: none;
	line-height: 1.25em;
	padding-left: 1em;
	margin-left: 0.5em;
	border-left: 1px currentColor solid;	

	.menu-item {
		padding-block: 0.25em;
	}

	.menu-link {
		text-transform: none;
		font-weight: 500;
		font-size: 100%;
	}
}