@use '../../00-base/_design-token.vars.scss' as dt;

%baseMenu {
	display: flex;
	flex-direction: column;

	margin: 0;
	padding: 0;
}

.header-nav {
	@extend %baseMenu;

	overflow: hidden;
	overflow-y: auto;
	justify-content: flex-start;

	height: 100%;
	max-height: 100%;
	// border-right: 1px lime solid;

	transition: all .5s ease-out;

	border: 1px #fff solid;
	border-radius: .25rem;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	background-color: rgba(#f0f0f0, .8);
	box-shadow: rgba(0, 0, 0, .125) 0 32px 64px;

	filter: background-blur(10px);
	grid-column: 1 / span 1;
	padding-block: 2rem;
	padding-inline: clamp(1rem, 2vw, 1.5rem);

	@media screen and (max-width: 1024px) {
		background-color: rgba(#f0f0f0, 1);
		flex-direction: row;
		justify-content: flex-end;

		height: 3rem;

		align-items: center;
		grid-column: 2 / span 4;
		padding-block: .5rem .75rem;
	}
}

.menu-main {
	@extend %baseMenu;

	position: relative;

	justify-content: flex-end;

	margin-bottom: 10rem;

	list-style: none;

	gap: .5rem;

	@media screen and (max-width: 1024px) {
		display: none;
	}

	.menu-item {
		position: sticky;
		top: 0;

		background: rgba(240, 240, 240, 1);
	}

	&[aria-expanded="true"] {

		position: absolute;
		top: 4rem;
		right: 0;
		left: 0;

		display: block;
		overflow: hidden;
		overflow-y: scroll;

		box-sizing: border-box;

		height: calc(100vh - 4rem);
		padding: 2rem;

		border-top: 1px solid currentColor;
		background: rgba(240, 240, 240, 1);

		.menu-item {
			// font-size: clamp(2rem, 5vw, 5rem);
			position: unset;

			text-align: left;
		}

		&>.menu-item {
			position: sticky;
			top: 0;
		}

		.menu-link {
			padding-bottom: 0.25rem;;
		}
		.menu-sub{
			margin-left: 1em;
		}
	}
}

.menu-item {
	box-sizing: border-box;
}

.menu-link {
	font-size: 1.2em;
	font-weight: 600;

	display: block;

	transition: color .15s ease-in, background-color .25s ease-in;
	text-decoration: none;
	text-transform: uppercase;

	color: inherit;
	outline-offset: .25em;
	padding-inline: 0.5em;

	padding-block: .25em;
	padding-right: 0.35em;

	&:active {}

	&:hover {
		transition: all .25s ease-out, background-color .25s ease-out;

		&:hover {
			background-color: dt.$c-p2-60;
			color: white;
		}
	}

	.menu-item[aria-current="page"]>&,
	.menu-item.active>& {
		background-color: dt.$c-p2-00;
		color: white;

	}

	&:visited {}

	&:focus {}
}

span.menu-link{
		pointer-events: none;

}

.menu-toggle {
	@extend .menu-link;

	display: flex;

	transform: center center;

	border: none;
	background: none;

	align-items: stretch;

	&>* {
		pointer-events: none;
	}

	span {
		display: block;
	}

	&.is-active {
		transform: rotateX(180deg);
	}

	@media screen and (min-width: 1024px) {
		display: none;
	}
}

.menu-sub {
	line-height: 1.25em;

	margin-bottom: 0;
	margin-left: 1em;
	padding-bottom: 1em;
	padding-left: 0;

	list-style-type: none;

	background: rgba(240, 240, 240, 1);
	.menu-link{
		transition: none;
		padding-inline: 0;
		padding-block: .25em;
		padding-left: 0.75em;
	}

	.menu-item {
		

		border-left: 1px var(--c-text) solid;
		margin-left: 0em;

		&.active {
			background-color: dt.$c-p2-00;
			color: white;
		}

		&:hover.active, 
		&:hover {
			// padding-left: 1em;
			background-color: dt.$c-p2-60;
			color: inherit;
			.menu-link{
				background-color: inherit;
			}
		}

	}

	.menu-link {
		font-size: 100%;
		font-weight: 500;

		text-transform: none;

	}

	@media screen and (max-width: 1024px) {
		margin-left: 0;
	}
}