.menu{
    box-sizing: border-box;
	margin: 1em;
	padding: 0;

	list-style-type: none;

	gap: 1em 1em;
	&.inline{
		display: flex;
		justify-content: space-between;
	}
	&.compact{
		font-size: 1em;
		font-weight: 600;
		line-height: 1.618;

		text-transform: uppercase;
	}
}