// $h1: clamp(32px, 4.676056338px + 4vw, 100px);
$h1: clamp(32px, 16px + 4vw, 96px);
// $h2: clamp(24px, 14.8450704225px + 2.472187886279357vw, 40px);
$h2: clamp(24px, 16px + 2.472187886279357vw, 48px);
// $h3: clamp(20px, 14.8450704225px + 1.527928236266599vw, 32px);
$h3: clamp(20px, 16px + 1.527928236266599vw, 32px);
// $p: clamp(16px, 13.1830985915px + .5633802817vw, 20px);
$p: clamp(16px, 16px + 0.908940057267459vw, 24px);


.highlight{
    font-size: clamp(0.8rem, 13.1830985915px + .5633802817vw, 1rem);
    width: auto;
    margin: auto;
    margin-block: 2em 3em;
    pre{
        box-sizing: border-box;
        padding: 1rem 1.5rem;
        padding-right: 3rem;
        border-radius: 1rem;
        overflow: auto;
    }
}

p>code{
    position: relative;
    border-radius: 0.5em;
    display: inline;
    font-size: 1em;
    line-height: 1.5em;
    background-color: #272822;
    color: #f8f8f8;
    white-space: nowrap;

    &::before{
        display: inline-block;
        width: 0.5em;
        content: " ";
        @media screen and (max-width: 1024px) {
            display: none;
        }
    }
    &::after{
        display: inline-block;
        width: 0.5em;
        content: " ";
        @media screen and (max-width: 1024px) {
            display: none;
        }
    }
    @media screen and (max-width: 1024px) {
        white-space: normal;
        word-wrap: break-word;
        border-radius: 0;
        
    }
}

blockquote{
    border-block: 1px black solid;
    margin-block: 3em;
    margin-inline: 0;
    padding-inline: 2em;
    line-height: 1.618 / 2;
    font-style: italic;
}