@use "../01-atoms/typography" as typo;

.o-cover{
	position: relative;
	// right: 0;
	// max-width: 50%;
	// margin-top: -20vh;
	// background-color: rgba(255, 255, 255, 0.6);
	// width: 100%;
	// backdrop-filter: blur(10px);
	// border-radius: 1rem;

	margin-inline: min(-1.5rem, -3vw);
}
.o-cover-img{
	position: sticky;

	width: 100%;
	max-width: calc(100% + max(4rem, 6vw));;
}
.o-cover-title{
	font-weight: 900;

	position: absolute;
	right: 3vw;
	bottom: min(5rem, 20vh);

	box-sizing: border-box;
	box-sizing: border-box;
	max-width: 40%;
	margin: min(3rem, 2vw);
	padding: min(3rem, 2vw);

	text-transform: uppercase;

	border-radius: .5rem;
	background-color: rgba(255, 255, 255, .6);
	box-shadow: rgba(0, 0, 0, .25) 0 14px 28px, rgba(0, 0, 0, .22) 0 10px 10px;

	backdrop-filter: blur(8px);
	font-size: typo.$h2;

	line-height: 1;
}

.o-cover-sub{
	font-size: .6em;
	margin-top: 1em;

	display: block;
}