@use "00-base/design-token.vars" as dt;

.header-main{
	position: sticky;
	z-index: 10;
	top: 0;
	right: 0;
	left: 0;

	display: flex;
	flex-direction: column;

	box-sizing: border-box;
	width: 100%;
	height: 100vh;
	max-height: 100vh;
	
	padding-bottom: 0;
	padding-left: 0;

	background-color: inherit;

	backdrop-filter: blur(10px);
	@media screen and (max-width: 1024px){

		display: grid;
		padding: 0;
		height: 100%;
		max-height: unset;
		grid-column: 1 / span 5;
		grid-row: 1 / span 1;
		grid-template-columns: 1fr 5fr;;
	}
}