@use "welcome";
@use "projects";

.wrapper{
	display: grid;

	max-width: 100vw;
	min-height: 100vh;

	gap: max(2rem, 3vw);
	grid-template-columns: minmax(250px, 15vw) auto;
	@media screen and (max-width: 1024px){
		grid-template-columns: repeat(5, 1fr);
		grid-template-rows: 3rem auto;
	}
}
.main-content{
    box-sizing: border-box;
	grid-column: 2 / span 2;
	> img{
		width: calc(100% + max(2rem, 3vw));
		margin-inline: min(-2rem, -3vw);
	}
	@media screen and (max-width: 1024px){

		grid-column: 1 / span 5;
	}
}