@use 'welcome';
@use 'projects';

.wrapper{
    display: grid;
    grid-template-columns: max(250px, 20vw) repeat(7, 1fr);
    gap: max(2rem, 3vw);
    min-height: 100vh;
}
.main-content{
    grid-column: 3 / span 5;
}