.sect-welcome {
    padding-block: clamp(15vh, 12vh, 12vw);
}

.welcome-grid {
    position: relative;

    display: grid;

    gap: 1rem;
    grid-template-columns: repeat(13, 1fr);
    @media screen and (max-width: 640px) {
        grid-template-columns: repeat(4, 1fr);
    }
}

.welcome-title {
    font-size: 6vw;
    font-weight: 900;
    line-height: .75em;

    margin: 0;

    text-align: right;
    text-transform: uppercase;

    color: var(-c-p2-40);
    border-bottom: var(--c-p1-10) 2vw solid;

    grid-column: 2 / span 5;
    grid-row: 1 / span 2;

    @media screen and (max-width: 640px) {
        grid-column: 2/ span 2;        
        grid-row: 1/span 2;        
        text-align: center;
        border-bottom: 0;
        font-size: 10vw;
    }

}

.welcome-logo {
    max-width: 50vw;

    grid-column: 7 / span 5;
    grid-row: 1 / span 2;
    @media screen and (max-width: 640px) {
        grid-column: 2/ span 2;        
        grid-row: 4/span 2;        
        text-align: center;
    }


}