{{ $pages := .Site.Pages -}}
{{ $current := .Page -}}
{{- $context := . -}}
<button class="menu-toggle" id="ham-menu" aria-expanded="false" aria-haspopup="true" aria-controls="ham">
    <svg id="i5" class="icon" viewBox="0 0 100 100" style="display: none;">
        <path id="top-line-5" d="M50,40 L70,60" style="opacity: 1;"></path>
        <path id="middle-line-5" d="M129.99999999999997,50 L169.99999999999997,50 Z" style="opacity: -0.176471;"></path>
        <path id="bottom-line-5" d="M30,60 L50,40" style="opacity: 1;"></path>
    </svg>
    <span>&#10507; Menu &#10507;</span></button>
<menu class="menu-main" id="ham">
{{- range .Site.Menus.main -}}
    {{- $normUrl := printf "%s/" .URL -}}
    {{- $isActive := eq $normUrl $current.RelPermalink -}}
    <li class="menu-item{{- if $isActive -}} active{{- end -}}" {{- if $isActive -}}aria-current="page" {{- end -}}>
        {{ if not (eq .URL "") -}}
        <a class="menu-link" href="{{- .URL -}}" {{- if eq .Params.blank true -}} target="_blank" rel="noopener" {{- end
            -}}>{{ .Name -}}</a>
        {{- else -}}
            <span class="menu-link">{{ .Name -}}</span>
        {{- end -}}
        {{- $page := $context.GetPage .PageRef -}}
        {{- $pageSection := $page.Section -}}

        {{- if .HasChildren -}}
        <menu class="menu-sub">
            {{- range .Children -}}
                {{/*  {{- $activePage := eq $current.Permalink .Permalink -}}  */}}
                {{- $activePage := eq $current.RelPermalink .URL -}}
                <li class="menu-item{{- if $activePage }} active" aria-current="page{{ end -}}">
                    <a href="{{- .URL -}}" class="menu-link">{{- .Name -}}</a>
                </li>
            {{- end -}}
            </menu>        
        {{- end -}}

        {{- if eq .Params.dynamic true -}}
            {{- $subPages := $pages -}}
            {{- $subPageList := (where $subPages "Section" $pageSection) -}}
            {{- if not (eq $subPageList 0) -}}
                <menu class="menu-sub">
                {{- range $subPageList -}}
                    {{- range .Pages -}}
                        {{- $activePage := eq $current.Permalink .Permalink -}}
                        <li class="menu-item{{- if $activePage }} active" aria-current="page{{ end -}}">
                            <a href="{{- .Permalink -}}" class="menu-link">{{- .Title -}}</a>
                        </li>
                    {{- end -}}
                {{- end -}}
                </menu>
            {{- end -}}
        {{- end -}}
    </li>
{{- end -}}
</menu>