$c-n-10: #{"var(--c-n-10)"};
$c-n-20: #{"var(--c-n-20)"};
$c-n-30: #{"var(--c-n-30)"};
$c-n-40: #{"var(--c-n-40)"};
$c-n-50: #{"var(--c-n-50)"};
$c-n-60: #{"var(--c-n-60)"};
$c-n-70: #{"var(--c-n-70)"};
$c-n-80: #{"var(--c-n-80)"};
$c-n-90: #{"var(--c-n-90)"};
$c-p1-10: #{"var(--c-p1-10)"};
$c-p1-20: #{"var(--c-p1-20)"};
$c-p1-30: #{"var(--c-p1-30)"};
$c-p1-40: #{"var(--c-p1-40)"};
$c-p1-50: #{"var(--c-p1-50)"};

$c-p2-00: #{"var(--c-p2-00)"};
$c-p2-10: #{"var(--c-p2-10)"};
$c-p2-20: #{"var(--c-p2-20)"};
$c-p2-30: #{"var(--c-p2-30)"};
$c-p2-40: #{"var(--c-p2-40)"};
$c-p2-50: #{"var(--c-p2-50)"};
$c-p2-60: #{"var(--c-p2-60)"};

$c-bg-main: #{"var(--c-bg)"};