:root {
    /** neutral colors **/
    --c-n-10: hsl(0, 0%, 100%);
    --c-n-20: hsl(0, 0%, 90.98%);
    --c-n-30: hsl(0, 0%, 81.57%);
    --c-n-40: hsl(0, 0%, 72.5%);
    --c-n-50: hsl(0, 0%, 63.53%);
    --c-n-60: hsl(0, 0%, 54.12%);
    --c-n-70: hsl(0, 0%, 45.1%);
    --c-n-80: hsl(0, 0%, 36.08%);
    --c-n-90: hsl(0, 0%, 26.67%);
    --c-n-90: hsl(0, 0%, 17%);

    --c-p1-10: hsl(185.783, 100%, 33%);
    --c-p1-20: hsl(186.986, 100%, 29%);
    --c-p1-30: hsl(188.438, 100%, 25%);
    --c-p1-40: hsl(190.189, 93%, 22%);
    --c-p1-50: hsl(192.809, 90%, 19%);

    --c-p2-00: hsl(330.612, 93%, 41%);
    --c-p2-10: hsl(325.306, 71%, 41%);
    --c-p2-20: hsl(314.4, 49%, 40%);
    --c-p2-30: hsl(287.077, 30%, 42%);
    --c-p2-40: hsl(243.273, 22%, 49%);
    --c-p2-50: hsl(210.667, 38%, 47%);
    --c-p2-60: hsl(196.406, 57%, 44%);
    --c-text: #262626;
    --c-link-v: var(--c-p2-50);


    --c-bg: var(--c-n-10);


}